USE [libraryDB]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AuthorId] [int] NULL,
	[CategoryId] [int] NULL,
	[StatusId] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Statuses]
GO
/****** Object:  StoredProcedure [dbo].[Authors_GetAll]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Authors_GetAll]
AS
BEGIN
    SELECT AuthorId, AuthorName FROM Authors;
END

GO
/****** Object:  StoredProcedure [dbo].[Books_Create]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Books_Create]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @AuthorId INT,
    @CategoryId INT,
    @StatusId INT
AS
BEGIN
    INSERT INTO Books (Title, Description, AuthorId, CategoryId, StatusId, CreatedAt)
    VALUES (@Title, @Description, @AuthorId, @CategoryId, @StatusId, GETDATE());
END

GO
/****** Object:  StoredProcedure [dbo].[Books_GetAll_Search]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Books_GetAll_Search]
    @SearchText NVARCHAR(100) = NULL
AS
BEGIN
    SELECT B.Id, B.Title, B.Description, A.AuthorName, C.CategoryName, S.StatusName
    FROM Books B
    LEFT JOIN Authors A ON B.AuthorId = A.AuthorId
    LEFT JOIN Categories C ON B.CategoryId = C.CategoryId
    LEFT JOIN Statuses S ON B.StatusId = S.StatusId
    WHERE (@SearchText IS NULL 
           OR B.Title LIKE '%' + @SearchText + '%'
           OR B.Description LIKE '%' + @SearchText + '%'
           OR A.AuthorName LIKE '%' + @SearchText + '%');
END

GO
/****** Object:  StoredProcedure [dbo].[Books_GetById]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Books_GetById]
    @Id INT
AS
BEGIN
    SELECT B.Id, B.Title, B.Description, B.CreatedAt,
           A.AuthorName, C.CategoryName, S.StatusName,
           B.AuthorId, B.CategoryId, B.StatusId
    FROM Books B
    LEFT JOIN Authors A ON B.AuthorId = A.AuthorId
    LEFT JOIN Categories C ON B.CategoryId = C.CategoryId
    LEFT JOIN Statuses S ON B.StatusId = S.StatusId
    WHERE B.Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[Books_Update]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Books_Update]
    @Id INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @AuthorId INT,
    @CategoryId INT,
    @StatusId INT
AS
BEGIN
    UPDATE Books
    SET Title = @Title,
        Description = @Description,
        AuthorId = @AuthorId,
        CategoryId = @CategoryId,
        StatusId = @StatusId
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[Categories_GetAll]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Categories_GetAll]
AS
BEGIN
    SELECT CategoryId, CategoryName FROM Categories;
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteBook]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteBook]
    @Id INT
AS
BEGIN
    DELETE FROM [dbo].[Books]
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Statuses_GetAll]    Script Date: 08/03/2026 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[Statuses_GetAll]
AS
BEGIN
    SELECT StatusId, StatusName FROM Statuses;
END

GO
USE [master]
GO
