<ng-template #loading>
  <div class="details-card">
    <p>טוען פרטי ספר...</p>
  </div>
</ng-template>

<div *ngIf="book; else loading" class="details-card">

  <h2>{{ book.Title }}</h2>
  <p><strong>מחבר:</strong> {{ book.AuthorName }}</p>
  <p><strong>תיאור:</strong> {{ book.Description }}</p>
  <p><strong>סטטוס:</strong> {{ book.StatusName }}</p>
  <p><strong>קטגוריה:</strong> {{ book.CategoryName }}</p>
  <a [routerLink]="['/books/edit', book.Id]" class="btn btn-secondary">ערוך ספר</a>
<a routerLink="/" class="btn btn-secondary">חזרה לרשימה</a>
</div>